@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-blackish;
  }
}

@layer utilities {
  .container {
    @apply max-w-[calc(1280px+50px)] mx-auto;
  }
}

@layer components {
  .button-primary {
    @apply text-white bg-primary rounded-[3px];
    box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
    transition: all 0.3s;
  }
  .button-primary:hover {
    box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.5);
    @apply bg-primary-dark;
  }

  .header-transitional-bg {
    background: linear-gradient(180deg, #f8f8f8 35%, #fff 90%);
  }

  .inputGrid {
    display: grid;
    grid-template-areas:
      'firstname lastname'
      'phone age'
      'email email'
      'address address'
      'city zip';
    grid-template-columns: 1fr 1fr;
  }

  .infoInput:nth-of-type(1) {
    grid-area: firstname;
  }
  .infoInput:nth-of-type(2) {
    grid-area: lastname;
  }
  .infoInput:nth-of-type(3) {
    grid-area: phone;
  }
  .infoInput:nth-of-type(4) {
    grid-area: age;
  }
  .infoInput:nth-of-type(5) {
    grid-area: email;
  }
  .infoInput:nth-of-type(6) {
    grid-area: address;
  }
  .infoInput:nth-of-type(7) {
    grid-area: city;
  }
  .infoInput:nth-of-type(8) {
    grid-area: zip;
  }

  .FeaturesSection {
    background: url('../public/FeaturesSection/bg.png') -320px 300px / cover no-repeat;
  }
  @media only screen and (min-width: 1024px) {
    .FeaturesSection {
      background: url('../public/FeaturesSection/bg.png') -120px 270px / cover no-repeat;
    }
  }

  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes vanish {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .appearTestimonial {
    display: flex;
    animation: appear 0.75s ease-in;
  }

  .vanishing {
    animation: vanish 0.75s;
  }

  .FaqSectionBg {
    background: url('../public/FAQ/car.png') 0 75% / auto no-repeat;
  }

  .FaqPanel {
    background-color: #fff;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
  }
  .PanelExpanded {
    grid-template-rows: 1fr !important;
  }
}
